<div class="jumbotron text-center">
  <h1>Store Items Carried by Walmart</h1>
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                Store Id
            </th>
            <th>
                Store Name
            </th>
            <th>
                Item Name
            </th>
            <th>
                Item Price
            </th>
        </tr>
    </thead>
    <tbody>
    <tbody>
    <tbody id="tableBody">
    </tbody>
</table>
@section Scripts{
    <script defer src="~/js/storeItem/storeItemWalmartFilter.js"></script>
}
