@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="../resources/Image2.png"> <img />
</div>
<h1 class="text-center" style="border-block:solid; background-color:antiquewhite;">Assignment 3/4</h1>
