<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AssignmentM2M</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AssignmentMTM.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#3b4c75">
            <div class="container-fluid">
                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index" style="color:#00ff1e">MTM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-success" asp-area="" asp-controller="Store" asp-action="Index" style="color:#ffffff;">Stores</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" asp-area="" asp-controller="Item" asp-action="Index" style="color:#ffffff">Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" asp-area="" asp-controller="Supplier" asp-action="Index" style="color:#ffffff">Suppliers</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" asp-area="" asp-controller="SupplierItem" asp-action="Index" style="color:#ffffff">SupplierItems</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" asp-area="" asp-controller="StoreItem" asp-action="Index" style="color:#ffffff">StoreItems</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color:#00ff1e">
            &copy; 2022 - AssignmentMTM<a asp-area="" asp-controller="Home"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
